*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    /* allows you to put any div on top of something */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,#ba7453, #d1a984);
    z-index: -1;
    box-shadow:2px 0px 20px rgba(0,0,0,0.4);
}

nav{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo{
    grid-column: 2/3;
    font-size: 24px;
    
}

.hamburger{
    justify-self: end;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}

.blog-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20rem;
    justify-content: center;
    height: 150vh;
    width: 100%;
    margin-bottom: 30rem;
}

.blog-container {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    padding: 20px;
}

.blog-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.blog-container h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.vacation-gallery {
    display: inline-grid;
    justify-content: center;
    grid-template-rows: 520px 520px;
    grid-template-columns: 520px 520px ;
    margin: auto;
    width: 100%;
    height: 80vh;
    padding-top: 40px;
    gap: 40px;
}

.vacation-gallery img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 420px;
    object-fit: cover;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 400px;
    position: absolute;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to left,#ba7453, #d1a984);
    box-shadow:2px 0px 20px rgba(0,0,0,0.4);
}

.footer-wrapper h3{
    font-size: 20px;
    padding: 10px;
    color: white;
}